<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs",{title: 'Inicio'})%>
<body class="home-body">
   <%-include("./partials/header.ejs")%>
    <main class="index__main">
        <div class="home__carrousel">
            <ul>
                <li> <img src="/images/products/banner1.jpg"></img></li>
                <li><img src="/images/products/freddy.jpg" ></img></li>
                <li><img src="/images/products/ps4.jpg" ></img></li>
                <li><img src="/images/products/heman.jpg"></img></li>
            </ul>
            
        </div>
    
      
       <h2 class="title-home-h2">Productos destacados</h2>
        <section>
            <% for(let i = 0; i < 6; i++){ %>
            <% let product = products[Math.floor(Math.random() * products.length)] %>
            <article class="card"> 
                <%if(product.discount > 0 && product.discount != null){ %>
                    <img class="discount-card-image" src="/images/discount.png" alt="discount-image">
                <% } %>

                <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                <div class="index__cardinfo">
                    <h4  class="product-cardinfo product-name"><%= product.name %></h4>
                    <%if (product.discount > 0 && product.discount != null) { %>
                            <div class="price-original">
                                <h3  class="product-cardinfo">$<%= product.price %></h3>
                            </div>
                            <p class="price-discount">
                                $<%= (product.price - ( product.price * product.discount /
                                100)).toFixed(2) %>
                            </p>
                    <%} else {%>
                        <h3  class="product-cardinfo">$<%= product.price %></h3>
                        <% } %>
                    <h5 class="product-cardinfo"><%= product.discount > 0 && product.discount != null ? `Descuento: ` + product.discount + "%": null   %></h5>
                    <button class="boton-product color-turquesa flex flex-row">
                        <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                    </button>
                    <button class="boton-product agregar-carrito color-turquesa flex flex-row"
                    data-product-id="<%= product.id %>"
                    data-product-name="<%= product.name %>"
                    data-product-price="<%= product.price %>"
                    data-product-image="<%= product.image %>">
                Agregar al carrito
            </button>
                </div>
            </article>
            <% }; %>
        </section>
            <% categories.forEach(category => { %>
            <h2 class="title-home-h2">Productos de <%= category.name %></h2>
            <section>
                <% category.products.slice(0, 6).forEach(product => { %>
                    <article class="card" id="<%= category.name %>"> 
                        <%if(product.discount > 0 && product.discount != null){ %>
                            <img class="discount-card-image" src="/images/discount.png" alt="discount-image">
                        <% } %>

                        <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                        <div class="index__cardinfo">
                            <h4  class="product-cardinfo product-name"><%= product.name %></h4>
                            <%if (product.discount > 0 && product.discount != null) { %>
                                    <div class="price-original">
                                        <h3  class="product-cardinfo">$<%= product.price %></h3>
                                    </div>
                                    <p class="price-discount">
                                        $<%= (product.price - ( product.price * product.discount /
                                        100)).toFixed(2) %>
                                    </p>
                            <%} else {%>
                                <h3  class="product-cardinfo">$<%= product.price %></h3>
                                <% } %>
                            <h5 class="product-cardinfo"><%= product.discount > 0 && product.discount != null ? `Descuento: ` + product.discount + "%": null   %></h5>
                            <button class="boton-product color-turquesa flex flex-row">
                                <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                            </button>
                            <button class="boton-product agregar-carrito color-turquesa flex flex-row"
                            data-product-id="<%= product.id %>"
                            data-product-name="<%= product.name %>"
                            data-product-price="<%= product.price %>"
                            data-product-image="<%= product.image %>">
                        Agregar al carrito
                    </button>
                        </div>
                    </article>
                <% }); %>
            </section>
        <% }); %>
      
        </main>
        <div class="go-top-container">
            <div class="go-top-button">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>
        <div class="icon-whatsapp-container">
            <div class="icon-whatsapp-button">
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>

        <%-include("./partials/footer.ejs")%>
</body>
</html>