<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs",{title: 'Inicio'})%>
<body>
   <%-include("./partials/header.ejs")%>
    <main class="index__main">
        <div class="home__carrousel">
            <ul>
                <li> <img src="/images/products/banner1.jpg"></img></li>
                <li><img src="/images/products/freddy.jpg" ></img></li>
                <li><img src="/images/products/ps4.jpg" ></img></li>
                <li><img src="/images/products/heman.jpg"></img></li>
            </ul>
          </div>
       <h2 class="title-home-h2">Productos destacados</h2>
        <section>
            <% for(let i = 0; i < 6; i++){ %>
            <% let product = products[Math.floor(Math.random() * products.length)] %>
            <article class="card">
                <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                    <div class="index__cardinfo">
                        <h3><%= product.name %></h3>
                        <h3>$<%= product.price %></h3>
                        <h3>Disponibles: <%= product.stock %></h3>
                        <p class="index__pd"><%= product.description %></p>
                        <button class="boton-product color-turquesa flex flex-row">
                            <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                        </button>
                    </div>
                </img>
            </article>
            <% }; %>
        </section>
            <% categories.forEach(category => { %>
            <h2 class="title-home-h2">Productos de <%= category.name %></h2>
            <section id="<%= category.name%>">
                <% category.products.slice(0, 6).forEach(product => { %>
                    <article class="card">
                        <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                        <div class="index__cardinfo">
                            <h3><%= product.name %></h3>
                            <h3>$<%= product.price %></h3>
                            <h3>Disponibles: <%= product.stock %></h3>
                            <p class="index__pd"><%= product.description %></p>
                            <button class="boton-product color-turquesa flex flex-row">
                                <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                            </button>
                        </div>
                    </article>
                <% }); %>
            </section>
        <% }); %>
        
        </main>
        <%-include("./partials/footer.ejs")%>
</body>
</html>