<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs",{title: 'Inicio'})%>
<body class="home-body">
   <%-include("./partials/header.ejs")%>
    <main class="index__main">
        <div class="home__carrousel">
            <ul>
                <li> <img src="/images/products/banner1.jpg"></img></li>
                <li><img src="/images/products/freddy.jpg" ></img></li>
                <li><img src="/images/products/ps4.jpg" ></img></li>
                <li><img src="/images/products/heman.jpg"></img></li>
            </ul>
            
        </div>
    
      
       <h2 class="title-home-h2">Productos destacados</h2>
        <section>
            <% for(let i = 0; i < 6; i++){ %>
            <% let product = products[Math.floor(Math.random() * products.length)] %>
            <article class="card">
                <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                    <div class="index__cardinfo">
                        <h4 class="product-cardinfo"><%= product.name %></h4>
                        <%if (product.discount > 0 && product.discount != null) { %>
                            <div class="price-original">
                                <h3  class="product-cardinfo">$<%= product.price %></h3>
                            </div>
                            <p class="price-discount">
                                $<%= (product.price - ( product.price * product.discount /
                                100)).toFixed(2) %>
                            </p>
                    <%} else {%>
                        <h3  class="product-cardinfo">$<%= product.price %></h3>
                        <% } %>
                        <h5 class="product-cardinfo"><%= product.discount > 0 && product.discount != null ? `Descuento: ` + product.discount + "%": null   %></h5>

                        <h3  class="product-cardinfo">Disponibles: <%= product.stock %></h3>
                        <button class="boton-product color-turquesa flex flex-row">
                            <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                        </button>
                        <button class="boton-product agregar-carrito color-turquesa flex flex-row"
                        data-product-id="<%= product.id %>"
                        data-product-name="<%= product.name %>"
                        data-product-price="<%= product.price %>"
                        data-product-image="<%= product.image %>">
                    Agregar al carrito
                </button>
                    </div>
                </img>
            </article>
            <% }; %>
        </section>
            <% categories.forEach(category => { %>
            <h2 class="title-home-h2">Productos de <%= category.name %></h2>
            <section>
                <% category.products.slice(0, 6).forEach(product => { %>
                    <article class="card" id="<%= category.name %>">
                        <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                        <div class="index__cardinfo">
                            <h4  class="product-cardinfo"><%= product.name %></h4>
                            <%if (product.discount > 0 && product.discount != null) { %>
                                    <div class="price-original">
                                        <h3  class="product-cardinfo">$<%= product.price %></h3>
                                    </div>
                                    <p class="price-discount">
                                        $<%= (product.price - ( product.price * product.discount /
                                        100)).toFixed(2) %>
                                    </p>
                            <%} else {%>
                                <h3  class="product-cardinfo">$<%= product.price %></h3>
                                <% } %>
                            <h5 class="product-cardinfo"><%= product.discount > 0 && product.discount != null ? `Descuento: ` + product.discount + "%": null   %></h5>
                            <h4  class="product-cardinfo">Disponibles: <%= product.stock %></h4>
                            <button class="boton-product color-turquesa flex flex-row">
                                <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                            </button>
                            <button class="boton-product agregar-carrito color-turquesa flex flex-row"
                            data-product-id="<%= product.id %>"
                            data-product-name="<%= product.name %>"
                            data-product-price="<%= product.price %>">
                        Agregar al carrito
                    </button>
                        </div>
                    </article>
                <% }); %>
            </section>
        <% }); %>
        <div class="principal-icons-div">
            <a href="https://wa.me/1164712830"><i class="fa-brands fa-whatsapp" style="color: #20a742;"></i></a>
            <a href="#header"><i class="fa-solid fa-circle-up" style="color: #0098b6;"></i></a>
        </div>
        <div id="mini-carrito" >
            <h3>Carrito de Compras</h3>
            <ul id="lista-carrito"></ul>
            <p id="total-carrito">Total: $0</p>
        </div>
        </main>

        <%-include("./partials/footer.ejs")%>
</body>
</html>