<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs",{title: 'Resultados de la busqueda'})%>

<body>
    <%-include("./partials/header.ejs")%>


    <main class="index__main">
        <section>
    <% if (search[0]) { %>
        <% search.forEach(product => { %>
            <article class="card">
                <img id="img1" src="/images/<%= product.image  %>" alt="<%= product.image  %>">
                    <div class="index__cardinfo">
                        <h3><%= product.name %></h3>
                        <h3>$<%= product.price %></h3>
                        <h3>Disponibles: <%= product.stock %></h3>
                        <p class="index__pd"><%= product.description %></p>
                        <button class="boton-product color-turquesa flex flex-row">
                            <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                        </button>
                    </div>
                </img>
            </article>
            <%}); %>
    <% } else { %>
        <div>
            <p>No hay productos que coincidan con esa búsqueda</p>
        </div>
        <% } %>
</main>
<%-include("./partials/footer.ejs")%>


</body>

</html>