<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs",{title: 'Editar Usuario'})%>
  <body class="register-body">
    <%-include("../partials/header.ejs")%>
    <main class="register-main-body">
      <div class="form-box">
        <img class="register-logo" src="/images/logo.png" alt="" />
        <form
          action="/users/passwordUpdate/<%=id%>?_method=PUT"
          class="register-form profile-form" 
          method="POST"
        >
          <h2>EDITAR CONTRASEÑA</h2>

          <div class="input-data">
            <label for="passwordActual">Actual Contraseña</label>
            <input class="userProfile-input" type="password" name="passwordActual" id="passwordActual" />
            <span class="asterisk-form">*</span>
            <p>
              <%= locals.errores && errores.passwordActual ?
              errores.passwordActual.msg : null %>
            </p>
          </div>

          <div class="input-data">
            <label for="password">Nueva Contraseña</label>
            <input class="userProfile-input" type="password" name="password" id="password" />
            <span class="asterisk-form">*</span>
            <p>
              <%= locals.errores && errores.password ? errores.password.msg :
              null %>
            </p>
          </div>
          <div class="input-data">
            <label for="confirmPassword">Confirmar contraseña</label>
            <input
            class="userProfile-input"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
            <span class="asterisk-form">*</span>
            <p>
              <%= locals.errores && errores.confirmPassword ?
              errores.confirmPassword.msg : null %>
            </p>
          </div>

          <div class="input-data">
            <button type="submit">Actualizar</button>
          </div>
        </form>
      </div>
    </main>
    <script src="/js/users/userProfileValidations.js"></script>
    <%-include("../partials/footer.ejs")%>
  </body>
</html>
