<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs",{title: 'Editar Usuario'})%>
  <body class="register-body">
    <%-include("../partials/header.ejs")%>
    <main class="register-main-body">
      <div class="form-box">
        <img class="register-logo" src="/images/logo.png" alt="" />
        <form
          action="/users/update/<%=id%>?_method=PUT"
          class="register-form profile-form"
          method="POST"
          enctype="multipart/form-data"
        >
          <h2>EDITAR PERFIL</h2>

          <div class="input-data">
            <label for="first_name">Nombre</label>
            <input
              class="userProfile-input"
              type="text"
              name="first_name"
              id="first_name"
              value="<%=usuario.first_name %>"
            />
            <span class="asterisk-form">*</span>
            <p>
              <%= locals.errores && errores.first_name ? errores.first_name.msg
              : null %>
            </p>
          </div>
          <div class="input-data">
            <label for="last_name">Apellido</label>
            <input
            class="userProfile-input"
              type="text"
              name="last_name"
              id="last_name"
              value="<%=usuario.last_name %>"
            />
            <span class="asterisk-form">*</span>
            <p>
              <%= locals.errores && errores.last_name ? errores.last_name.msg :
              null %>
            </p>
          </div>
          <div class="input-data">
            <label for="date">Fecha de nacimiento</label>
            <input
            class="userProfile-input"
              type="date"
              name="birthday"
              id="birthday"
              value="<%=usuario.birthday %>"
            />
            <p>
              <%= locals.errores && errores.birthday ? errores.birthday.msg : null
              %>
            </p>
          </div>
          <div class="userImage-Container" style="width: 100%; text-align: center;">
            <div class="userImage-box">
              <img id="imagen-previa" src="/images/users/<%= usuario.image %>" alt="Imagen del usuario">
            </div>
          
            <div class="file-input-container">
              <label class="edicion" for="imagen">Cambiar imagen para el usuario</label>
              <input type="file" name="image" id="imagen" onchange="previewImage(event, '#imagen-previa')" value="<%= usuario.image %>">  
            </div>
          </div>
        
          <div class="input-data">
            <a href="/users/addressUpdate/<%= locals.user.id %>">Domicilio</a>

            <a href="/users/passwordUpdate/<%-usuario.id %>"
              >Cambiar Contraseña</a
            >
          </div>

          <div class="input-data">
            <button type="submit">Actualizar</button>
          </div>
        </form>
      </div>
    </main>
    <script src="/js/users/userProfileValidations.js"></script>
    <script src="/js/image-replace.js"></script>

    <%-include("../partials/footer.ejs")%>
  </body>
</html>
