<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs")%>

<body>
    <%-include("../partials/header.ejs")%>
    <main class="product-list-main">
        <section class="product-list-section">
        <% products.forEach(product => {%>
            <div class="product-box">
            <article class="home__main__article">
                <div class="caja-img">
                    <img class="w-100" src="/images/<%- product.image %>" alt="<%= product.name %>">
                </div>
                <h4 class="product-card-info"><%= product.name %></h4>
                <h4>$<%= product.price %></h4>
                <h5 >Disponibles:<%= product.stock %></h5>
                <div>
                <button class="boton-product color-turquesa flex flex-row">
                    <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                </button>
            </div>
            </article>
        </div>
            <% }) %>
    </main>
    <%-include("../partials/footer.ejs")%>

</body>
</html>