<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs",{title: producto.name})%>
  <body class="body" id="header">
    <%-include("../partials/header.ejs")%>
    <main class="main " class="results-section">
      <section class="contenido-producto">
        <article class="articulo_producto_venta">
          <div class="detalle-img">
            <img
                    src="/images/products/<%= producto.image %>"
                    class="d-block w-100"
                    alt="<%= producto.image %>"
                  />
          </div>
          <div class="contenedor-detalle-info">
            <div class="detalle-info">
              <div class="nombre-producto info-detailProduct-text">
                <h3><%= producto.name %></h3>

                
                <% if (producto.discount!=null && producto.discount!=0) { %>
                  <h4 class="precioFinal info-detailProduct-text">$<%= producto.price %></h4>
                  <h4 class="info-detailProduct-text">
                    con <%= producto.discount %>% de descuento
                  </h4>
               <% } else { %>
                
                <% } %>
                <h4 class="precioDescuento info-detailProduct-text">
                  $<%= (producto.price - ( producto.price * producto.discount /
                  100)).toFixed(2) %>
                </h4>
                <% if (producto.installments!=null && producto.installments!=0) { %>
                  <h4 class="info-detailProduct-text">
                    En cuotas de <%= producto.installments %> x $<%=
                  (producto.price / producto.installments).toFixed(2) %>
                  </h4>
               <% } else { %>
                
                <% } %>

              </div>
             <div class="container-button">
                <button
                  class="boton-product boton__comprar color-turquesa flex flex-row info-detailProduct-text"
                >
                <i class="fa-solid fa-credit-card"></i> Comprar Ahora
                </button>
                <button
                  class="boton-product boton__añadir color-turquesa flex flex-row info-detailProduct-text"
                >
                  <i class="fas fa-shopping-cart"></i> Añadir al Carrito
                </button>
              </div>
              <div class="contenedor-metodo-pagos info-detailProduct-text">
                Metodos de pago
                <div>
                  <img
                    src="/images/mplogo.webp"
                    height="20px"
                    alt="mododepago"
                  />
                  <img
                    src="/images/visalogo.webp"
                    height="30px"
                    alt="mododepago"
                  />
                  <img
                    src="/images/masterlogo.png"
                    height="25px"
                    alt="mododepago"
                  />
                </div>
              </div>
            </div>
          </div>
        </article>
        <div class="descripcion-producto">
          <h1>Descripción</h1>
          <p><%= producto.description %></p>
        </div>
      </section>
      <section class="contenido-producto">
        <div class="descripcion-producto">
          <h2>Especificaciones del producto</h2>
        </div>
        <div class="contenido-producto-texto-logo">
          <div class="contenido-producto-texto">
            <div class="contenido-producto-texto--contenido">
              <h4 class="conte">Plataforma:</h4>
              <% if (producto.platforms) { %>
                  <p class="conte"><%= producto.platforms.name %></p>
              <% } else { %>
                  <p class="conte">Plataforma no especificada</p>
              <% } %>
          </div>
            <div class="contenido-producto-texto--contenido">
              <h4 class="conte">Stock:</h4>
              <p class="conte"><%= producto.stock%></p>
            </div>
            <div class="contenido-producto-texto--contenido">
              <h4 class="conte">Categoría:</h4>
              <h4 class="conte"><%= producto.categories.name%></h4>
            </div>
          </div>
          <div>
            <img class="logo2" src="/images/logo.png" alt="logo-2" />
          </div>
        </div>
      </section>
      <div class="index__main">
        <h2 class="title-home-h2">Productos Similares</h2>
        <section>
          <% for(let i = 0; i < 6; i++){ %>
          <% let product = products[Math.floor(Math.random() * products.length)] %>
          <article class="card">
              <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                  <div class="index__cardinfo">
                      <h4 class="product-cardinfo"><%= product.name %></h4>
                      <%if (product.discount > 0 && product.discount != null) { %>
                          <div class="price-original">
                              <h3  class="product-cardinfo">$<%= product.price %></h3>
                          </div>
                          <p class="price-discount">
                              $<%= (product.price - ( product.price * product.discount /
                              100)).toFixed(2) %>
                          </p>
                  <%} else {%>
                      <h3  class="product-cardinfo">$<%= product.price %></h3>
                      <% } %>
                      <h5 class="product-cardinfo"><%= product.discount > 0 && product.discount != null ? `Descuento: ` + product.discount + "%": null   %></h5>

                      <h3  class="product-cardinfo">Disponibles: <%= product.stock %></h3>
                      <button class="boton-product color-turquesa flex flex-row">
                          <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                      </button>
                  </div>
              </img>
          </article>
          <% }; %>
      </section>
      <h2 class="title-home-h2">Productos que podrían interesarte</h2>
      <section>
        <% for(let i = 0; i < 6; i++){ %>
        <% let product = products[Math.floor(Math.random() * products.length)] %>
        <article class="card">
            <img id="img1" src="/images/products/<%= product.image  %>" alt="<%= product.image  %>">
                <div class="index__cardinfo">
                    <h4 class="product-cardinfo"><%= product.name %></h4>
                    <%if (product.discount > 0 && product.discount != null) { %>
                        <div class="price-original">
                            <h3  class="product-cardinfo">$<%= product.price %></h3>
                        </div>
                        <p class="price-discount">
                            $<%= (product.price - ( product.price * product.discount /
                            100)).toFixed(2) %>
                        </p>
                <%} else {%>
                    <h3  class="product-cardinfo">$<%= product.price %></h3>
                    <% } %>
                    <h5 class="product-cardinfo"><%= product.discount > 0 && product.discount != null ? `Descuento: ` + product.discount + "%": null   %></h5>

                    <h3  class="product-cardinfo">Disponibles: <%= product.stock %></h3>
                    <button class="boton-product color-turquesa flex flex-row">
                        <a href="/productos/detalles/<%= product.id  %>">Ver más</a>
                    </button>
                </div>
            </img>
        </article>
        <% }; %>
    </section>
      </div>
      <button class="boton-product-2 flex flex-row">
        <a href="#header">Volver arriba</a>
      </button>
    </main>
    <%-include("../partials/footer.ejs")%>
  </body>

</html>
